.DS_Store
*.tfrecord
*.h5
*.h5
*.h5
*.pyc
*.sh
pi/logs/cifar10_4000/etc
lp/logs/cifar10_4000/etc
vat/logs/cifar10_4000/etc
mixmatch/logs/cifar10_4000/etc
shotvae/logs/cifar10_4000/etc
shotvae/backup
partedvae/logs/cifar10_4000/etc
partedvae/logs/mnist_100/etc
partedvae/mnist/etc
proposal
semi
full
parted-vae-main
dgm/result_.py
partedvae/result_.py
shotvae/result_.py
preprocess_.py